streamlit
spacy
pymongo
bcrypt
python-dotenv
pandas
matplotlib
transformers
torch
Pillow
dnspython
bson

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
